/* Web Fonts -------------------- */
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i');


/* colors -------------------- */
/*
body-background-grey: #f9f9f9
portfolio-back-white: #fefefe
textcolor- #6e6e6e
*/
/* Base Styles -------------------- */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Merriweather', serif;
	font-size: 1em;
	font-weight: normal;
	color: #6e6e6e;
	background-color: #f9f9f9;
}

h1,
h3 {
	font-family: helvetica;
	font-weight: bold;
}

h1 {
	font-size: 3.157em;
}

h3 {
	font-size: 1.333em;
}



section img {
	max-width: 100%;
	padding-left: 1em;
	padding-right: 1em;
}

/* Pseudo-classes ------------------ */



/* Main Styles --------------------- */
.main-header {
	text-align: center;
	margin: 0 auto;
}

.main-nav li {
	list-style-type: none;
	background-color: #fefefe;
	display: block;
	margin-bottom: 5px;
	max-width: 99%;

}

.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}

/* Layout Styles ------------------ */



/* Float Clearfix ------------------*/
/*
.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
*/

/* Media Queries -------------------- */
/*
@media (min-width: 769px) {

  .name {
		float: left;
    color: red;
	}

  .main-nav {
		float: right;
    color: blue;
	}

  .main-nav li {
		display: inline-block;
		margin-left: 15px;
	}
*/
